﻿   body {
            margin: 0;
            padding: 0;
            line-height: 1.5em;
            background-image: url(Website_background.jpg);
        }



        #nav {
            height: 90px;
            color:white;
        }
        #nav a{
            text-decoration:none;
            color:#FFFFFF;
            padding: 5px;
        }

            #nav h1 {
                margin: 0;
                padding-top: 15px;
            }

         
        #nav ul{
            font-size: 17px;
            font-family:'Global Monospace';
            text-transform:none;
            float: right;
            padding-top: 10px;
            padding-right: 10px;
            margin: 0px;
            list-style: none;
            display: block;
        }
        #nav li{
            display: inline;
            line-height: 2.5em;
            
        }

        #contentwrapper {
            float: left;
            width: 100%;
            overflow: hidden;
           
        }

        #contentcolumn {
            text-align: center;

           font-family:'Global Monospace';
           font-size:17px;
            
            color: #FFFFFF;
            padding-top: 145px;
            padding-bottom: 160px;
             height:440px;
        }

   
      
            
        @media (max-width: 600px) { 

    
            #contentwrapper {
                float: none;
            }

            

            #contentcolumn {
                margin-left: 0;
            }
        }
